// Fuente
$fuente_principal: 'Monserrat', sans-serif;


//Colores

$verde:  #4CB8B3;
$rosa: #f53756;
$amarillo: #FEF46D;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;

//Media queries
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
