@use 'base/variables' as v;
@use 'base/mixins' as m;
.video{
    position: relative;
    max-height: 70rem;
    min-height: 50rem;
    overflow: hidden;
    .overlay{
        position: absolute;
        height: 100%;
        width: 100%; 
        background: rgb(85,0,255);
        background: linear-gradient(270deg, rgba(85,0,255,0.5) 0%, rgba(255,0,99,0.3) 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    video{
        width: auto;
        display: block;
    }
    @include m.tablet{
        width: 100%;
    }
}
.contenido-video{
    z-index: 1;
    h2{
        color: v.$blanco;
        font-size: 7rem;
        margin: 0;

    }
    p{
        background-color: v.$rosa;
        color: v.$blanco;
        padding: 1rem 2rem;
        font-weight: 700;
        display: inline-block; // Toma el espacio que el elemento requiera
        font-size: 2.4rem;
        margin: 0;
    }

}